@{
    ViewData["Title"] = "Directions";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <a href="https://www.google.com/maps/search/grocery+store" class="maps-image"><img src="~/images/maps.png"/></a>
    <h2>Click the pin to find the nearest grocery stores</h2>
</div>


