@{
    ViewData["Title"] = "About";
}

<div class="container">
    <div class="container text-center">
        <img class="group-icon" src="~/images/group.png"/>
        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h2>
        <a class="nav-link" href="https://www.google.com/search?client=firefox-b-1-d&q=public+events+near+me+today&ibp=htl;events&rciv=evn#htivrt=events&htidocid=L2F1dGhvcml0eS9ob3Jpem9uL2NsdXN0ZXJlZF9ldmVudC8yMDIyLTAzLTA3fF8xNzM4ODIxNDk5ODI3OTM5MjAxMw%3D%3D&fpstate=tldetail">
            <button type="button" class="btn listing-button">Find local public events</button>
        </a>
    </div>
</div>

